<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconurl</key>
		<string>http://t-1.tuzhan.com/2bce13576bbb/c-1/l/2012/09/21/10/4c685e5b76b34c188e88fd2b277dbd51.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思111</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思111</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思111</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思111</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思111</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
</array>
</plist>
