<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师我是老师</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>美女</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>美女</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>美女</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>美女</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
	<dict>
		<key>iconurl</key>
		<string>http://ww1.sinaimg.cn/mw690/80888a28jw8ekspoaon8dj20u00u0myi.jpg</string>
		<key>teachid</key>
		<integer>1</integer>
		<key>name</key>
		<string>张思</string>
		<key>teacherdesc</key>
		<string>美女</string>
		<key>count</key>
		<integer>100</integer>
		<key>score</key>
		<integer>99</integer>
	</dict>
</array>
</plist>
